<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tick.x_o">

    <application
        android:allowBackup="true"
        android:icon="@drawable/golden_soccer_ball_3ylr9z1_600"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.X_o">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>